.content {
	margin-top: 20px;
}
.content *{
	font-size: 14px;
}
.content .content-filter .content-filter-item{
	clear: both;
	margin-left: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
	overflow: hidden;
}
.content .content-filter .content-filter-item p{
	display: inline-block;
	float: left;
	padding-right: 35px;
	border-right: 1px solid #DCDDDD;
}
.content .content-filter .content-filter-item a{
	float: left;
	color: black;
	/*background-color: yellow;*/
	display: inline-block;
	padding: 0px 15px;
	/*margin:0px 5px;*/
	border-right: 1px solid #DCDDDD;
}
.content .content-filter .content-filter-item .condition{
	/*float: left;*/
	display: inline-block;
	text-align: center;
	padding:0px 5px;
	/*background-color: red;*/
	/*margin:0px 5px;*/
}
.content .content-filter .content-filter-item .condition_focus{
	background-color: #60BFF2;
	color: #fff;
}

.content .datalist{
}
.content .datalist .item{
	padding:20px 20px 20px 230px;
	position:relative;
	height: 130px;
}
.content .datalist .item .cover{
	position:absolute;
	left: 20px;
	top:20px;
	height: 130px;
	width: 180px;
}
.content .datalist .item .cover img{
	width: 100%;
	height: 100%;
}
.content .datalist .item .name{
	font-size: 16px;
	padding:10px 0px;
}
.content .datalist .item .name .level{
	display: inline-block;
	padding-left: 10px;
	color: #F7B52C;
	font-size: 12px;
}
.content .datalist .item .time,
.content .datalist .item .phone,
.content .datalist .item .address{
	padding-left: 20px;
	font-size: 14px;
	color: #888888;
	margin-bottom: 8px;
	background:url(../img/icon-tel.png) no-repeat;
}
.content .datalist .item .time{
	background-position: 0 -34px;
}
.content .datalist .item .phone{
	background-position: 0 1px;
}
.content .datalist .item .address{
	background-position: 0 -17px;
}
.content .datalist .item .button{
	position: absolute;
    right: 70px;
    top: 76px;
    display: block;
    width: 105px;
    height: 37px;
    background: url(../img/button-now.png) no-repeat 0 0;
}